<template data-sly-template.item="${@ list, item}">
    <h1>Avengers ${item}</h1>
    <article class="cmp-image-list__item-content">
        <a class="cmp-image-list__item-image-link" href="${item.URL}" data-sly-unwrap="${!list.listAdvancedItems}"
            data-cmp-clickable="${item.data ? true : false}"
            data-sly-test="${item.image}">
             <div class="cmp-image-list__item-image" data-sly-resource="${item.image @ wcmmode='disabled'}"></div>
            </a>
            <a class="cmp-image-list__item-title-link" href="${item.URL}">
            <span class="cmp-list__item-title">${item.title}</span>
            </a>
            <span data-sly-test="${list.showModificationDate}"
                  class="cmp-list__item-date">${list.dateFormatString @format=item.lastModified}</span>
         
        <span data-sly-test="${list.showDescription}" class="cmp-list__item-description">${item.description}</span>
    </article>
</template>
